@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Nanum+Brush+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.logotitle {
	color: black;
	font-weight: 100;
	font-family: 'GUNGSUHCHE';
}

.font-do {
	font-family: 'Do Hyeon', sans-serif;
}

.carousel-caption {
	color: rgb(247, 238, 238) !important;
	text-shadow: black !important;
	top: 10% !important;
	left: 7% !important;
	right: 40% !important;
}

.carousel-item {
	font-family: 'Do Hyeon', sans-serif;
}

.nav-item {
	color: white !important;
	font-weight: 100;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.7rem;
}

h2 {
	font-size: 35px;
	line-height: 1.4em;
	background-color: #FF0000;
}