@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
.page-now{
	background-color: #28B78D !important;
	color:white !important;
}
.bttn-dark {
	background-color: #555555 !important;
	color: white !important;
}

.font-shadow {
	font-family: 'Shadows Into Light Two', cursive;
}

.navbar-brand {
	font-size: 2rem !important;
}

.nav-link {
	color: gray !important;
}

.nav-link:hover {
	color: red !important;
}

.nav-icon {
	font-size: 1.5rem !important;
	display: block !important;
	margin-bottom: 0.25rem;
}

.nav-text {
	font-size: 0.7rem !important;
}

.nav-item {
	font-size: 2.0rem !important;
}

.logotitle {
	color: white;
	font-family: 'Chelsea Market', cursive;
}

.font-nato {
	font-family: 'Nato Sans', sans-serif;
}

.font-nanum {
	font-family: 'Nanum Gothic', sans-serif;
}

.subtitle {
	font-size: 1.5rem;
	color: grey;
	font-family: 'Nanum Gothic', sans-serif;
}

a:link, a:visited, a:hover, a:active {
	color: #555555;
}